#horas{
    background-image: url("../images/rectangle.png");
}

<<<<<<< HEAD
#horas{
    background-color: gray;
    border: 2px solid red;
}

=======
>>>>>>> response
.horasblocks{
    padding: 20px 20px 40px 40px;
    text-align:center;
}
<<<<<<< HEAD

#novidades {
=======
>>>>>>> response

#novidades {
    background-color: rgb(249,250,251);
}

#novidades_slide{
    margin-top: 40px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

<<<<<<< HEAD
mainbox{
=======
.mainbox{
>>>>>>> response
    margin-left: 30px;
    margin-right: 30px;
}

<<<<<<< HEAD
.servicosbox {

=======
.chamada{
    text-shadow: 1px 1px black;
    color: white;
}

.servicosbox {
    padding-top: 30px;
    padding-bottom: 30px;
>>>>>>> response
}

.servicoscol{
    padding: 10px;
}

.w-divider{
    margin-top:10px;
    margin-bottom:10px;
    height:1px;
    width:100%;
    border-top:1px solid lightgray;
<<<<<<< HEAD
=======
}

.w-divider{
    margin-top:10px;
    margin-bottom:10px;
    height:1px;
    width:100%;
    border-top:1px solid lightgray;
}
.w-divider-call{
    margin-top: 50px;
    margin-bottom: 30px;
    height:1px;
    width:100%;
    border-top:1px solid lightgray;
}

#umsimplescall{
    margin: 0px;
    padding: 0px;
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 16px;
    color: #252525;
>>>>>>> response
}